/* screenplay.css */

/* container background + padding */
.screenplay-container {
  background: #eee;
  padding: 2rem;
  box-sizing: border-box;
}

/* each real <page> becomes a white sheet */
.page {
  background: #eee;
  width:        8.5in;
  min-height:   11in;
  margin:       0 auto 5rem; /* gutter between pages */
  border-color: green !important;
}

.screenplay-editor {
  font-family:  'Courier New', monospace;
  line-height:  1;
  font-size:    12pt;
  white-space:  pre-wrap;
  word-break:   break-word;
}

div[data-page-body="true"] {
  border: none !important;
  box-shadow: none !important;
  margin-left: 1.5in !important;
  padding-right: 0.5in !important;
  height: 250mm !important; /* makes sure last line doesn't get cut off*/
}